:root {
  /* LightMode */
  --main-text-color: #f3f4f9;
  --secondary-text-color: #222222;

  /* DarkMode */
  --main-dark-text-color: #f3f4f9;
  --primary-dark-bg-color: #111111;
  --secondary-dark-bg-color: #222222;
  --category-cards-dark-color: #E8E8E8;
  --trends-secondary-dark-color: #D9DADE;

  /* Green */
  --primary-green: #B0E444;

  /* Measures */
  --default-space: 35px 55px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: var(--main-text-color);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark-bg-color);
  min-height: 100vh;
}

.selected {
  opacity: 1;
}