:root {
  /* LightMode */
  --main-text-color: #222222;
  --main-text-color: #f3f4f9;

  /* DarkMode */
  --main-dark-text-color: #f3f4f9;
  --primary-dark-bg-color: #111111;
  --secondary-dark-bg-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: var(--main-text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--primary-dark-bg-color) 0%,
    var(--primary-dark-bg-color) 73%,
    var(--secondary-dark-bg-color) 73%,
    var(--secondary-dark-bg-color) 100%
  );
  margin: 35px 55px;
}
