 .container-hexagon-layout .hexagonArea .hexagon {
  position: relative;
  width: 159px; /* 130 */
  height: 185px; /* 150 */
  margin: 0 1.5px; /* 0 2px */
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  background-color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0;
  overflow: hidden;
  z-index: 980;
}

.container-hexagon-layout .hexagonArea .hexagon img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.container-hexagon-layout .hexagonArea .hexagon:hover {
  transform: scale(1.15);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.hexagon-title-overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;

  box-sizing: border-box;
  pointer-events: none; /* Para que el overlay no interfiera con los eventos del mouse */
}

.hexagon-title-overlay p {
  margin-inline: 5px;
}

@media (max-width: 1835px) {
  .hexagon.hex-6 {
    display: none !important;
  }

  .home-container {
    justify-content: center;
  }
}


@media (max-width: 1667px) {
  .hexagon.hex-5 {
    display: none !important;
  }
}

@media (max-width: 1525px) {
  .hexagon.hex-4 {
    display: none !important;
  }
}

@media (max-width: 1332px) {
  .hexagon.hex-3 {
    display: none !important;
  }
}

@media (max-width: 1183px) {
  .maintext-component {
    display: none;
  }

  .hexagon.hex-3, .hexagon.hex-4 {
    display: block !important;
  }
}

@media (max-width: 870px) {
  .hexagon.hex-4 {
    display: none !important;
  }
}

@media (max-width: 669px) {
  .hexagon.hex-3 {
    display: none !important;
  }

  .hexagonArea.first .hexagon.hex-1, .hexagonArea.third .hexagon.hex-2, #short {
    display: none !important;
  }
}