#container-spam {
  height: 400px;
}

.spam-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin: 0 auto;
  padding-top: 116px;
  
  width: 70%;
}

#social-media-spam {
  text-align: center;
  width: 40.3%;
}

#social-newsletter-spam {
  text-align: center;
  width: 35.6%;
}

#social-newsletter-spam p {
  font-size: 16px;
}

.social-media-logos-spam {
  display: flex;
  justify-content: space-between;
  
  width: 470px;
  height: 125px;
  
  margin: 26px auto 0;
}

.social-media-logos-spam svg {
  width: 70px;
  height: 70px;
  fill: var(--main-text-color);
  cursor: pointer;
}

.social-media-logos-spam .container-instagram-logo-spam svg,
.social-media-logos-spam .container-x-logo-spam svg,
.social-media-logos-spam .container-github-logo-spam svg {
  transition: fill 0s;
}

.social-media-logos-spam .container-instagram-logo-spam:hover svg,
.social-media-logos-spam .container-x-logo-spam:hover svg,
.social-media-logos-spam .container-github-logo-spam:hover svg {
  transition-delay: 0.175s;
  fill: var(--accent-color);
}

.container-x-logo-spam {
  width: 130px;
  height: 91px;
}

.spam-logo-greenLine {
  background-color: var(--accent-color);
  
  height: 5px;
  width: 130px;
  margin-bottom: 26px;

  border: none;
  border-radius: 10px;
}

.social-media-logos-spam div:hover hr {
  animation: translateGreenLine 1s forwards;
}

.social-media-logos-spam .container-x-logo-spam {
  height: 100%;
}

.social-media-logos-spam .container-instagram-logo-spam svg {
  width: 71px;
  height: 71px;
}

.social-media-logos-spam .container-github-logo-spam svg {
  width: 66px;
  height: 66px;
}

.titles-spam {
  color: var(--main-text-color);
  
  font-size: 42px;
  font-weight: 900;
}

.input-spam {
  color: var(--main-text-color);
  background-color: transparent;
  
  width: 100%;
  height: 50px;
  margin-top: 45px;
  padding: 0 30px;
  
  box-sizing: border-box;
  border: 2px solid var(--accent-color);
  border-radius: 10px;

  text-align: center;
  font-size: 16px;
}

.input-spam:focus {
  outline: none;
}

.input-spam::placeholder {
  text-align: center;
  color: var(--main-text-color);
  opacity: 0.9;
}

@keyframes translateGreenLine {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120px);
  }
}
