#detailsformsmodal {
  margin-top: 20px;
}

#formulariomodal {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelmodal {
  font-size: 1em;
  color: var(--main-text-color);
}

#formulariomodal p {
  margin-top: 2px;
  padding: 10px 0;
  color: var(--main-text-color);
  font-size: 1.1em;
  width: 100%;
}

#formulariomodal p:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

#formulariomodal input.inputmodal {
  margin-top: 2px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 20px 10px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  color: var(--primary-dark-bg-color);
  background-color: var(--main-text-color);
}
#formulariomodal input.inputmodal:focus {
  box-shadow: 0 0 10px 1px var(--primary-green);
}

.actualizar-podcast-modal {
  background-color: var(--main-text-color);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
  color: var(--primary-dark-bg-color);
  box-sizing: border-box;
  outline: none;
}
.actualizar-podcast-modal:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 0 var(--primary-green);
}

#modal-body {
  margin-bottom: 0;
}

#formulario small {
  color: rgb(255, 78, 78);
  font-size: 0.8em;
}