.container-latest {
  height: 500px;
  background-color: var(--secondary-dark-bg-color);
}

.latest-wrapper {
  width: 1142px;
  margin: 0 auto;
}

.container-latest-title {
  padding-top: 42px;
}

.latest-title {
  font-size: 32px;
  font-weight: bold;
}

.latest-title-greenLine {
  margin-top: -4px;
  border: none;
  height: 3px;
  width: 259px;
  background-color: var(--accent-color);
}

@media (max-width: 1254px) {
  .latest-wrapper {
    width: 720px;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 21.5% !important;
  }
}

@media (max-width: 805px) {
  .latest-wrapper {
    width: 300px;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 1% !important;
    gap: 20px !important;
  }
  
  .swiper-pagination-bullet {
    width: 20px !important;
    margin-right: 0 !important;
  }
  
}