.latest-slider-marker {
  opacity: 0.5;
  width: 50px;
  height: 5px;
}

.container-slider-markers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin: 52px auto 0;
}