/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: var(--primary-dark-bg-color-90);
  width: 300px;
  padding: 25px 40px;
  color: var(--primary-dark-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--accent-color);
  border: 2px solid var(--main-text-color);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.modal-header h2 {
  font-size: 26px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin: 5px 0 30px;
  font-size: 0.95em;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.cerrar-modal {
  cursor: pointer;
  font-size: 30px;
  color: var(--main-text-color);
}

.modal-footer button {
  padding: 8px 20px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.modal-footer button.btn-cancelar {
  background-color: var(--main-text-color);
  color: var(--primary-dark-bg-color);
}

.modal-footer button.btn-cancelar:hover {
  background-color: var(--primary-grey);
}

.modal-footer button.btn-confirmar {
  background-color: var(--primary-blue);
  color: var(--main-text-color);
}

.modal-footer button.btn-confirmar:hover {
  background-color: var(--secondary-blue);
}

#input-nombre-lista {
  margin-top: 10px;
}

.modal-body small {
  margin-top: 3px;
  color: rgb(255, 78, 78);
  font-size: 0.8em;
} */