#cmp-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 55px;
  margin: 55px;
  min-height: 75vh;
}

#cmp-main section {
  width: 50%;
}

.vertical-line-content {
  width: 2px;
  background-color: var(--main-text-color-60);
  border-radius: 50%;
  height: 680px;
}

@media (max-width: 1240px) {
  #cmp-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }

  #cmp-main section {
    width: 100%;
  }

  .vertical-line-content {
    width: 100%;
    margin: 0 auto;
    height: 2px;
  }

  .upload-podcast-section {
    padding-left: 0;
  }
}

@media (max-width: 655px) {
}