.podcast {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: 50px auto;
  gap: 40px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--primary-green);
  border: 2px solid var(--main-text-color);
  cursor: url("src/assets/Play-Green-Cursor.svg") 20 20, pointer;
}

.podcast img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.podcast-info {
  margin-top: 20px;
}

.podcast-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.podcast-info p {
  min-width: 390px;
  font-size: 18px;
  margin-bottom: 40px;
}

.podcast-info p:nth-child(3) {
  color: var(--main-text-color-60);
}

.trash {
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.trash svg {
  width: 30px;
  height: 30px;
}