.container-hexagon-layout {
  width: auto;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-hexagon-layout .hexagonArea {
  display: flex;
}

.container-hexagon-layout .hexagonArea.second, .container-hexagon-layout .hexagonArea.third  {
  margin-top: -44px;
}

#short {
  background-color: transparent;
  cursor: default;
}

#short::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

#short:hover {
  transform: scale(1);
}
