:root {
  /* LightMode */
  --main-text-color: #f3f4f9;
  --secondary-text-color: #222222;
  --terciary-text-color: #333333;

  /* DarkMode */
  --primary-dark-bg-color: #111111;
  --primary-dark-bg-color-90: #111111e6;
  --secondary-dark-bg-color: #222222;
  --category-cards-dark-color: #E8E8E8;
  --trends-secondary-dark-color: #D9DADE;

  /* Custom colors */
  --accent-color: #B0E444;
  --accent-color-hover: #A0D444;
  --primary-blue: #3ab0ff;
  --secondary-blue: #3a8fff;
  --primary-red: #ff3a3a;
  --primary-grey: #dddddd;
  --secondary-grey: #b3b3b3;
  --disabled-color: #d9d9d9;
  --disabled-color2: #868686;

  /* Measures */
  --default-space: 35px 55px;

  /* Opacity white tone */
  --main-text-color-60: #f3f4f999;
  --main-text-color-80: #f3f4f9cc;
  --main-text-color-25: #f3f4f940;
  --main-text-color-5: #f3f4f90D;
}

* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark-bg-color);
  min-height: 100vh;
  color: var(--main-text-color);
}

.error-usuario {
  font-family: 'Poppins', 'DM Sans', sans-serif;
  color: var(--primary-blue);
  font-size: 12px;
  margin-top: 10px;
}

.error-message {
  padding: 10vh 0;
  text-align: center;
  color: var(--primary-red);
  font-size: 22px;
}

.selected {
  opacity: 1;
}