.podcast {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: 50px auto;
  gap: 40px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--primary-green);
  border: 2px solid var(--main-text-color);
  cursor: url("src/assets/Play-Green-Cursor.svg") 20 20, pointer;
}

.podcast img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.podcast-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  min-height: 300px;
  z-index: 1001;
  box-sizing: border-box;
}

.podcast-info h2 {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}

.podcast-info-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.podcast-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  cursor: default;
}

.podcast-info-text p {
  min-width: 300px;
  max-width: 440px;
  font-size: 18px;
}

.podcast-info-text p:nth-child(2) {
  color: var(--main-text-color-60);
}

.trash {
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.trash svg {
  width: 30px;
  height: 30px;
}