.podcast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 40px 15px 18px;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--main-text-color);
  cursor: pointer;
  box-sizing: border-box;
}

.podcast img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.podcast-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}

.podcast-title-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.podcast-title-description p {
  font-size: 14px;
  color: var(--main-text-color-80);
  margin-top: -2px;
}

h2.podcast-title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Rubik", "Dm Sans", sans-serif;
}

.podcast-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.podcast-info-text p {
  font-size: 14px;
}

.podcast-info-text p {
  color: var(--main-text-color-60);
}

.podcast-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: default;
  position: absolute;
  top: 12px;
  right: 12px;
}

.podcast-icons div {
  height: 20px;
  cursor: pointer;
}

.podcast-icons svg {
  width: 20px;
  height: 20px;
}